*,::before, ::after
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    background-image: url(./image/milad-fakurian-wNsHBf_bTBo-unsplash.jpg);
    /* background-image: url(../ressources-cours-front-master/ressources/sumaid-pal-singh-bakshi-TKH8mXFf5RM-unsplash.jpg); */
    /* background-image: url(../ressources-cours-front-master/ressources/campbell-3ZUsNJhi_Ik-unsplash.jpg); */
    background-size: cover;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-family: lucida handwriting; */
    font-family: lato;
    /* font-family: elephant; */
}

.moi
{
    width: 500px;
    height: auto;
    margin: 100px 430px;
    border: 1px solid black;
    padding: 50px 90px;
    background-color: rgba(255, 255, 255, 0.283);
    border-radius: 10px;

}

.moi h1
{
    margin-bottom: 35px;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: underline;
    color: white;
}

.form input
{
    width: 100%;
    border-radius: 5px;
    letter-spacing: 2px;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(18, 18, 19, 0.829);
}

.form label
{
    font-size: 20px;
    letter-spacing: 2px;
}

.ho
{
    margin: 0px 0px 0px 130px;
}


.btn input
{
    position: relative;
    left: 70px;
    height: 40px;
    width: 190px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #333;
    background-color: rgb(154, 154, 242);
    cursor: pointer;
    box-shadow:  0 6px  rgb(48, 48, 85);
    border-radius: 99999px; 
    

}

.btn input:hover
{
    position: relative;
    top: 2px;
    box-shadow:  0 4px rgb(89, 89, 194);
}

.btn input:active
{
    box-shadow: 0 0 rgb(154, 154, 242); 
    background-color: white;
    top: 4px;
}

.bouton p
{
    position: relative;
    bottom: 10px;
    text-align: center;
}

.bouton a
{
    text-decoration: none;
    color: black;
}

.form2 input
{
    position: relative;
    margin: 20px 0px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 18px;
    left: -53px;
    border-radius: 99999px;
    height: 40px;
    padding: 0px 20px;
    background-color: rgba(250, 251, 252, 0.111);
}

.form2 input:hover
{
    position: relative;
    top: 2px;
    box-shadow:  0 4px rgb(55, 55, 56);
}

.form2 input:active
{
    box-shadow: 0 0 rgb(154, 154, 242); 

    background-color: white;
    top: 4px;

}



   